$reaction: hsl(0, 100%, 67%);
$memory: hsl(39, 100%, 56%);
$verbal: hsl(166, 100%, 37%);
$visual: hsl(234, 85%, 45%);
$dark-navy: hsl(224, 30%, 27%);
$para: hsl(241, 100%, 89%);

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 58px 40px 58px;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
  border-radius: 0px 0px 32px 32px;

  &__heading {
    margin: 0;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.438rem;
    text-align: center;
    color: $para;
  }

  &__numbers {
    margin-top: 24px;
    background: linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    );
    padding: 25px 39px 22px 38px;
    border-radius: 50%;

    &__score {
      font-weight: 800;
      font-size: 3.5rem;
      line-height: 4.5rem;
      text-align: center;
      color: #ffffff;
      margin: 0;
    }

    &__of-100 {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.313rem;
      color: $para;
      mix-blend-mode: normal;
      opacity: 0.52;
      margin: 0;
      text-align: center;
    }
  }

  &__great {
    margin-top: 24px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.938rem;
    text-align: center;
    color: #ffffff;
  }

  &__para {
    margin-top: 8px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.313rem;
    text-align: center;
    color: $para;
  }
}

.summary {
  padding: 24px 30px 30px;

  #reaction {
    color: $reaction;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.95),
        rgba(255, 255, 255, 0.95)
      ),
      $reaction;
  }

  #memory {
    color: $memory;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.95),
        rgba(255, 255, 255, 0.95)
      ),
      $memory;
  }

  #verbal {
    color: $verbal;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.95),
        rgba(255, 255, 255, 0.95)
      ),
      $verbal;
  }

  #visual {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.95),
        rgba(255, 255, 255, 0.95)
      ),
      $visual;
    color: $visual;
  }

  &__heading {
    margin-left: 2px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: $dark-navy;
    margin-bottom: 24px;
  }

  &__details {
    display: flex;
    align-items: center;
    padding: 17px 16px 18px;
    border-radius: 12px;

    &__category {
      margin-left: 12px;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.313rem;
    }

    &__score {
      margin-left: auto;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.313rem;
      text-align: right;
      color: $dark-navy;

      &--light {
        opacity: 0.5;
        margin-left: 8px;
      }
    }

    &__button {
      background: $dark-navy;
      border-radius: 128px;
      border: none;
      font-family: "Hanken Grotesk";
      font-style: normal;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.438rem;
      text-align: center;
      color: #ffffff;
      width: 100%;
      padding: 17px 0 16px;
      margin-top: 24px;
    }
  }

  &__details + &__details {
    margin-top: 16px;
  }
}

@media (min-width: 75em) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #ecf2ff;
  }

  main {
    display: flex;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 32px;
  }

  .result {
    padding: 38px 54px 46px;
    border-radius: 32px;
    width: 23rem;
    justify-content: flex-start;
    &__heading {
      font-size: 1.5rem;
      line-height: 1.938rem;
    }

    &__numbers {
      margin-top: 35px;
      padding: 55px 60px 46px 59px;

      &__score {
        font-size: 4.5rem;
        line-height: 4.5rem;
      }

      &__of-100 {
        margin-top: 4px;
        font-size: 1.125rem;
        line-height: 1.438rem;
      }
    }

    &__great {
      font-size: 2rem;
      line-height: 2.625rem;
      margin-top: 28px;
    }

    &__para {
      margin-top: 14px;
      font-size: 1.125rem;
      line-height: 1.438rem;
      text-align: center;
    }
  }

  .summary {
    padding: 38px 40px 46px;
    width: 23rem;

    &__heading {
      margin-left: 0;
      font-size: 1.5rem;
      line-height: 1.938rem;
      margin-bottom: 28px;
    }

    &__details {
      padding: 17px 16px 16px;

      &__category {
        margin-left: 12px;
        font-size: 1.125rem;
        line-height: 1.438rem;
      }

      &__score {
        font-size: 1.125rem;
        line-height: 1.438rem;

        &--light {
          margin: 3px;
        }
      }
      &__button {
        margin-top: 41px;

        &:hover {
          background: linear-gradient(
            180deg,
            #7755ff 0%,
            #6943ff 0.01%,
            #2f2ce9 100%
          );
          cursor: pointer;
        }
      }
    }
  }
}
